*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/**********header*************/
.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.contenedor-logo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    
}
.contenedor-barra ul {
   list-style: none;
   width: 100%;
}

li a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

.contenedor-menu  {
    position: relative;
    top: 4.5rem;
    right: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contenedor-registro-carrito {
    padding-right: 4rem;
    display: flex;
    align-items: end;
    
    gap: 2rem;
}

.iconos {
    color: black;
    font-size: 2rem;
}

 /*********************main**********************/
main {
    padding: 2rem;
    
    
}
.titulo {
    text-transform:capitalize; 
    font-size: 24px;
}   
.contenedor-carrusel {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;

}


/******************footer*****************/
.contenedor-footer {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor-contacto a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.contenedor-contacto {
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.contenedor-encontranos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.contenedor-face-insta {
    padding-right: 4rem;
    display: flex;
    gap: 2rem;
}

/**************productos**************/
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.imagen-producto {
    max-width: 100% ;
}
.contenedor-productos {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.producto-descripcion {
    background-color: #d8d8d8;
    padding: .5rem;
    margin: 0rem;
    position:relative;
    display: flex;
    flex-direction: column;
    gap: rem;
    text-transform: uppercase;

}
.titulo-producto {
    
}
.precio {
   
}
.boton-agregar{
    border: 0;
    background-color: cornsilk;
    text-transform: uppercase;
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
    border: solid snow;
}
.boton-agregar:hover {
    background-color: black;
    color: snow;
}
/*********************carrito***************/
.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;    
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto-compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding: .5rem;
    border:0;  
}

.imagen-carrito-producto{
    max-width: 6rem;
    padding-left: 1rem;
}
.carrito-producto-nombre {
    text-transform: capitalize;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
}
.boton-producto-eliminar {
    cursor: pointer;
    background-color: black;
    color: snow; 
    border: 0;
    padding: .5rem;   
}

.carrito-derecha {
    display: flex;
    gap: 1rem;
}
.precio-total {
    display: flex;
}
.carrito-accion-comprar {
    display: flex;    
}

.boton-accion-vaciar{
    cursor: pointer;
    background-color: black;
    color: snow; 
    border: 0;
    padding: .5rem;

}

.boton-accion-comprar {
    cursor: pointer;
    background-color: black;
    color: snow; 
    border: 0;
    padding: .5rem;
}
/*********************contato************************/
.titulo-form{
    position: relative;
    left: 2rem;
    padding: 2rem;
    text-transform: uppercase;
    
}
.contenedor-formulario {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 3rem;
    border: 2px ;
    border-style:  solid;

}


.contenedor-formulario-contacto {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1rem;
}

.intro-mensaje  {
    display:flex;
    flex-direction: column;
}
.dejar-mensaje {
    text-align: center;
}
.boton-enviar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    
}
/*****************registro**********************/
.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mail {
    display: flex;
    gap: 1rem;
}

.intro-nombre {
    display:flex;
    flex-direction: column;
}

.intro-telefono {
    display:flex;
    flex-direction: column;
}
.intro-mail {
    display:flex;
    flex-direction: column;
}

.intro-mensaje input {
    padding: 3rem;
}
.boton-registrarme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;

}

.intro-contraseña {
    display: flex;
    flex-direction:column;
    justify-content: center;

}