.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;    
}
.carrito-productos {
    @include flex (column, none, none, 1rem, none);
    padding-right: 1rem;
}

.carrito-producto-compra {
    @include flex (row, space-between, center, none, none);
    background-color: rgb(220, 220, 220);
    padding: 1rem;
    padding-right: 2rem;
    border:0;
    img{
        max-width: 6rem;
        padding-left: 1rem;
    }
   
}
