
.contenedor-formulario-contacto {
    padding-left: 3rem;
    padding-right: 3rem;
     @include flex(column, none, none, 1rem, none);    
}
.mail {
    @include flex(row, none, none, 1rem, none);
}
.intro-nombre {
    @include flex(column, none, none, none, none);
}

.intro-telefono {
    @include flex(column, none, none, none, none);

}

.intro-mail {
    @include flex(column, none, none, none, none);
}
.intro-mensaje {
    @include flex(column, none, none, none, none);
    input {
        padding: 3rem;
        }
}

.dejar-mensaje {
    text-align: center;
}

.boton-enviar {
    @include flex(row, center, none, none, none);
    padding-top: 1rem;     
}