.contenedor-logo {
    background-color:black;
    color: aliceblue;
    margin: 0%;
    padding-top: 2rem;
    @include flex (none, center, none, none, none);
}

.contenedor-header {
    @include flex (none,space-between,none, none, none);
    background-color: black;
}

.contenedor-menu {
    @include flex (row,none,none, .5rem, none);
   margin: .5rem;
    li{
        list-style: none; 
        a{
            text-decoration: none;
            text-transform: capitalize;
            color: snow;
            &:hover {
                background-color: snow;
                color: black;
            }
        }
    }
}

.contenedor-registro-carrito {
   margin: .5rem;
   padding-right: 2rem;
     
    @include flex (row, none, none, 2rem, none);
    .iconos{
        color: snow;
        font-size: 20px;
   }
}

.numerito {
    color: snow;
    font-size: 12px;
}