
p {
    text-transform: capitalize;
}
main{
    background-color: white;
    padding: 1rem;
}
.contenedor-productos {
    margin: 1rem;
    overflow: hidden;
    @include grid (repeat(4,1fr), 3rem);
    div {
        img {
            max-width: 100%;          
        }
    }   
}
.producto-descripcion {
    padding: .5rem;
    margin: 0rem;
    position:relative;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.producto:hover {
    background-position: center;
    padding: .5rem;
    cursor: pointer;  
    border: 2px solid rgba(190, 190, 190, 0.847);
    transition: all 200ms ease;      
}
