main {   
    width: 100%;
    min-height: 100vh;
}
.contenedor-info-animacion {
    @include grid (1fr 1fr,none);
    background-color: black;
    margin: 0;
    padding-top: 2rem;
    p{
        color: snow;
    }
}
.contenedor-info {
    @include flex (column,center,none,none,none);
    padding-left: 3rem; 
    line-height: 1rem;
}
.contenedor-animaciones {
    @include flex (row,center,center,none,none);
    padding-bottom: 1rem;
}
.imagen {
    height: 350px;
    width: 500px;
    animation: rotar 5s linear infinite;
}
@keyframes rotar { /*regla que define el comportamiento de la animacion*/
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(-180deg)
    }
    
}