@media (max-width: 480px) and (min-width: 320px){
  
    .hambar {
        display:inline;
    }
    .contenedor-barra { 
        display: none;
    }
    .contenedor-registro-carrito{
        display: none;
    }
    .contenedor-registro-carrito {
        position: relative;
        padding-right: 3rem;
    }
    li{
        font-size: 14px;
    }
      /*main*/
    .contenedor-info-animacion {
        @include flex (column, none, none, 1rem, none); 
        padding: 1rem;
    }
    .contenedor-info {
        margin-top: 20px;
        padding: 0px;
    }
    p{
        font-size: 14px;
        line-height: 1rem;
    }
    .imagen{
        height: 150px;
        width: 300px;
    }
    .contenedor-animaciones {
        padding: 0;
    }
         /*produtos*/
    .contenedor-productos {
        @include grid(repeat(2,1fr),none);
      
    }

    footer {
      margin: 0;
      padding: 0;
      box-sizing: border-box ;
    }
    .contenedor-contacto {
        padding-left: 1rem;
    }
    .contenedor-encontranos {
        padding-bottom: 1rem;
    }
    .contenedor-face-insta {
        padding-right: 1rem;
    }
    .contenedor-formulario-contacto {
        padding-left: 2rem;
        
    }
    .carrito-producto-compra {
        @include flex(column, center, start, none,none);  
        background-color: rgb(220, 220, 220);
        padding: 1rem;
        padding-right: 2rem;
        border:0;
        img{
            max-width: 6rem;
            padding-left: 1rem;
        }
    
    }
      
}