@media (max-width: 600px) and (min-width: 481px) {
   
    /*main*/
    .contenedor-info-animacion {
        @include flex (column, none, none, 1rem, none);
        margin: 0;
        padding: 1rem;
    }
    .contenedor-info {
        padding-top: 1rem;
    }
    .imagen {
        height: 250px;
        width: 400px;
    }
   
      /*productos*/
    .contenedor-productos {
        @include grid (repeat (2,1fr), none);
    }

    footer {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contenedor-contacto {
        padding-left: 1rem;
    }
    
    .contenedor-face-insta {
        padding-right: 1rem;
    }

    .carrito-producto-compra {
        @include flex(column, center, start, none,none);      
        background-color: rgb(220, 220, 220);
        padding: 1rem;
        padding-right: 2rem;
        border:0;
        img{
            max-width: 6rem;
            padding-left: 1rem;
        }
    
    }
}