.boton-agregar{
    border: 0;
    background-color: cornsilk;
    text-transform: uppercase;
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
    border: solid snow;
}
.boton-agregar:hover {
    background-color: black;
    color: snow;
}